.controls-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.container {
  width: 100%;
  align-items: center;
}

.control {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(45deg, #3a5393, #1b1464);
  align-items: center;
  align-content: center;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
}

@media (max-width: 600px) {
  .control {
    flex-direction: column;
  }
}

.controlText {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  color: white;
}
